<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>challenges</title>
    <script src="../scripts/header.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../controllers/logout.php" id="[onshow.connexion_status]">deconnexion</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>[onshow.message]</h1>
            [row;block=begin]
            <div class="challenge">
                <a href="/~moaliouche/tp-php/Root-iyi/controllers/challenge.php?id=[row.challengeId]">
                    [row.title]
                </a>
                <div class="points">[row.nbPoints]</div>
                <div class="difficulty">[row.difficulty]</div>
            </div>

            [row;block=end]
</body>
</html>
