<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>challenge: [onshow.title] [onshow.message]</h1>
    <h2>description</h2>
    <p>[onshow.description]</p>
    <p>difficulty: [onshow.difficulty]</p> essaie iopjzifsdhkbfj
    <p>to solve the challenge <a href="[onshow.urlChallenge]">click here</a></p>
    <form method="POST" action="../controllers/challenge.php?challengeId=[onshow.challengeId]">
        <input type="text" placeholder="flag" name="flag"> 
        <input type="submit">
    </form>
</body>
</html>