<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="../scripts/header.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="../controllers/[onshow.connexionNavBar].php">[onshow.connexionNavBar]</a>

            </li>
        </ul>
        <ul>
            <li>
                <a href="../controllers/home.php">home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="../controllers/[onshow.navLink].php">[onshow.nav]</a>
            </li>
        </ul>
        </nav>
    </header>
    [onshow.message]
            [row;block=begin]
            <div class="category">
                <a href="/~moaliouche/tp-php/Root-iyi/controllers/challenges.php?category=[row.categoryId]">
                    [row.title]
                </a>
            </div>
            [row;block=end]
</body>
</html>
