<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="../scripts/header.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../controllers/[onshow.connexionNavBar].php" id="[onshow.connexionStatus]">[onshow.connexionNavBar]</a>
                </li>
            </ul>
        </nav>
    </header>
    [onshow.message]jjfj
            [row;block=begin]
            <div class="category">
                <a href="/~moaliouche/tp-php/Root-iyi/controllers/challenges.php?category=[row.categoryId]">
                    [row.title]
                </a>
            </div>
            [row;block=end]
</body>
</html>
