<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>[onshow.pseudo]</h1>
    <div>you have :[onshow.nbPoints] points</div>
    <div>[onshow.mail]</div>
    <form action="/~moaliouche/tp-php/rootiyi/controllers/user.php" method="POST">
        <input type="email" placeholder="changer votre mail">
        <input type="submit">
    </form>
    <form action="/~moaliouche/tp-php/rootiyi/controllers/user.php" method="POST">
        <input type="password" placeholder="enter your current password">
        <input type="password" placeholder="enter your new password">
        <input type="password" placeholder="confirm your new passwors">
        <input type="submit">
    </form>
    <form action="/~moaliouche/tp-php/rootiyi/controllers/user.php" method="POST">
        <input type="email" placeholder="changer votre mail">
    </form>
    maybe a bio here<br/>
    maybe a profile pic for later
</body>
</html>