<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../scripts/header.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="../controllers/[onshow.connexionNavBar].php">[onshow.connexionNavBar]</a>

            </li>
        </ul>
        <ul>
            <li>
                <a href="../controllers/home.php">home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="../controllers/[onshow.navLink].php">[onshow.nav]</a>
            </li>
        </ul>
        </nav>
    </header>
    <h1>[onshow.pseudo]</h1>
    <h2>[onshow.nbPoints]</h2>
    maybe a bio here
    maybe a profile pic for later
</body>
</html>